<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>Foobar2000 song requester</title>
    <link rel="stylesheet" type="text/css" href="/requester.css" media="all" />
    <style type="text/css">
<FOOBAR2000-Info>
.download {
	display: $ifequal(%enable_download_in_history%, 1, table-cell, none);
}
</FOOBAR2000-Info>
    </style>

  </head>

  <body>

    <ul class="trans">
      <li><a href="?">Refresh</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="http://your.server.com:4096/index.html" class="external">Status</a></li>
      <li><a href="http://your.server.com:4096/listen.pls" class="external">Listen</a></li>
      <li><a href="http://your.server.com:4096/played.html" class="external">Song history</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
    
    <!-- info -->

    <div style="margin:1em;">
<FOOBAR2000-Info>
      <p class="message">%message%</p>
      <p>
      counter:%http_request_num%<br>
      request:%song_request_num%<br>
      active connections'('300s')': %participant% <br>
      </p>
</FOOBAR2000-Info>
    </div>
    
    <br/>
    
    
    <!-- play history -->
    <div id="playHistory">
      <table border="1" class="req_container">
        <caption>
          Played songs &nbsp;&nbsp
        </caption>
        <thead>
          <th class="s">Index</th><th class="s">Priority</th><th>Action</th><th>Artist</th><th>Title</th><th>Time</th><th class="download">download</th>
        </thead>
        <tbody>
<FOOBAR2000-RequestTrack>
        <tr>
          <td>%index%</td><td>%priority%</td><td> $if( %is_requested%, <a href="#" onClick="ReqStatus.update'(' ''cmd=remove&list_id=%list_id%&song_id=%song_id%'' ')'; return false;">Cancel</a>, 
          <a href="#" onClick="ReqStatus.update'(' ''cmd=request&list_id=%list_id%&song_id=%song_id%'' ')'; return false;">Prioritize</a> ) </td><td>%artist%</td><td>%title%</td><td>%length%</td><td class="download"><a href="/download/%filename_ext%?list_id=%list_id%&song_id=%song_id%">download</a></td>
        </tr>
</FOOBAR2000-RequestTrack>

        </tbody>
        <tfoot colspan="7"></tfoot>
      </table>
    </div>
    
    
    
    

  </body>
</html>
