<html>
  <head lang="en-US">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>Foobar2000 song requester</title>
    <link rel="stylesheet" type="text/css" href="../requester.css" media="all">
    <style type="text/css">
<!--
-->
    </style>
  </head>
  <body>
    <p>
      <ul>
      	<li>
          <p><a href="/ext.html">Javascript version ( New! )</a></p>
        </li>
        <li>
          <p><a href="/simple.html">Simple version</a></p>
        </li>
        <li>
          <p><a href="/upload.html">song file uploader</a><br><br></p>
        </li>
        <li>
          <p style="font-size:80%;"><a href="/js_index.html">Javascript version ( 2 column )</a></p>
        </li>
        <li>
          <p><a style="font-size:80%;" href="/js_flat.html">Javascript version ( flat )</a></p>
        </li>
        <!--
        <li>
          <p><a href="/frame_index.html">Frame version</a></p>
        </li>
        -->

      </ul>
    </p>
  </body>
</html>