<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>Foobar2000 song requester</title>
    <link rel="stylesheet" type="text/css" href="/requester.css" media="all" />
    <style type="text/css">
<!--
-->
    </style>

    <script src="/prototype.js" type="text/javascript"></script>
    <script src="/ricolite.js" type="text/javascript"></script>
    <script src="/scriptaculous/effects.js" type="text/javascript"></script>
    <script src="/scriptaculous/controls.js" type="text/javascript"></script>
    <!--
    <script src="/MochiKit/Base.js" type="text/javascript"></script>
    <script src="/MochiKit/Logging.js" type="text/javascript"></script>
    <script src="/MochiKit/LoggingPane.js" type="text/javascript"></script>
    -->
    <script src="/requester.js" type="text/javascript"></script>

    <script type="text/JScript">
      ieSpecific();
    </script>
    <script type="text/javascript">
      var pe = new  PeriodicalExecuter(ShowTimer.run.bind(ShowTimer), 1);
    </script>
  </head>
  <body onload="javascript:bodyOnLoad()">
    <div id="floatLeftDiv" style="float:left;"></div>
    <div id="floatRightDiv" style="float:right;"></div>
    <img id="tabIconImage" style="vertical-align:-1px;display:none" src="/img/accordion-icon.gif" alt="tabIcon" />
    <p id="infoPlace"></p>
    <p id="messagePlace"></p>

    <div id="body">

      <ul class="trans">

        <li><a href="?">Refresh</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="http://your.server.com:4096/index.html" class="external" target="_blank">Status</a></li>
        <li><a href="http://your.server.com:4096/listen.pls" class="external">Listen</a></li>
        <li><a href="http://your.server.com:4096/played.html" class="external" target="_blank">Song history</a></li>

        <li><a href="/admin">Admin</a></li>
      </ul>

      <div id="navi" class="float_navi">

        <h3>fb2k song requester</h3>

        <button id="updateStatus">Refresh status</button>

        <script type="text/javascript">
            Event.observe('updateStatus', 'click', ReqStatus.update.curry('', true), false);
        </script>
        <br />

        <div id="serverStatusPlace"></div>

        <!-- play list -->
        <div id="playListPlace" class="listlist"></div>

        
        <!-- search -->
        <div class="search">

          <form id="searchForm" onsubmit="javascript:SongList.updateFromFormElement('search', 'search'); return false;">
            <input type="text" size="15" name="search" id="search" />
            <button id="searchButton"><img id="searchIcon" style="vertical-align:-1px" src="/img/icon5.gif" alt="Search" /> Search</button>
            <div class="auto_complete" id="search_auto_complete"></div>
            <script type="text/javascript" language="javascript" charset="utf-8">
              //Event.observe('searchButton', 'submit', function(e){ SongList.updateFromFormElement('search', 'search'); }, false);
              Event.observe('searchButton', 'click', function(e){ SongList.updateFromFormElement('search', 'search'); }, false);
              ga = new Google.Autocompleter('search', 'search_auto_complete', 'http://www.google.co.jp/complete/search', 
                  { method: 'get', parameters: 'hl=ja&js=true', paramName: 'qu' });
              var sendRPCDone = ga.sendRPCDone.bind(ga);
            </script>
            
            <!--<font size="2"><a href="#" onClick="SongList.update(''); return false;">Refresh list</a></font>--><br />
          </form>
        </div>

        <!-- index -->

        <div id="indexForm" class="index_form">

          <div id="accordionIndex" class="accordionPanels">

            <div id="panel1">
              <div id="panel1Header" class="accordionTabTitleBar">
                <img id="defaultIcon" style="vertical-align:-1px;" src="/img/icon0.gif" alt="Usage" /> Index list usage
              </div>
              <div id="panel1Content"  class="accordionTabContentBox" style="display:none">
               <br />1. Select an index from artist, album, genre and date.<br />

               2. Select the item in the index for updating to the song list below.<br />
               <br />Indexes are load dynamically if you need.
               <br /><span class="caution">Please refresh this page if the index seems to have broken. </span>
              </div>

            </div>

            <div id="panel2">
              <div id="panel2Header" class="accordionTabTitleBar">
                <img id="artistIcon" style="vertical-align:-1px;" src="/img/icon1.gif" alt="Artist index" /> Artist index
              </div>
              <div id="panel2Content" class="accordionTabContentBox" style="display:none">
              <br/>Now loading...
              </div>
            </div>

            <div id="panel3">
              <div id="panel3Header"  class="accordionTabTitleBar">
                <img id="albumIcon" style="vertical-align:-1px;" src="/img/icon2.gif" alt="Album index" /> Album index
              </div>
              <div id="panel3Content" class="accordionTabContentBox" style="display:none">
                <br/>Now loading...
              </div>
            </div>

            <div id="panel4">
              <div id="panel4Header" class="accordionTabTitleBar">
                <img id="genreIcon" style="vertical-align:-1px;" src="/img/icon3.gif" alt="Genre index" /> Genre index
              </div>
              <div id="panel4Content" class="accordionTabContentBox" style="display:none">
                <br/>Now loading...
              </div>
            </div>

            <div id="panel5">
              <div id="panel5Header" class="accordionTabTitleBar">
                <img id="dateIcon" style="vertical-align:-1px;" src="/img/icon4.gif" alt="Date index" /> Date index
              </div>
              <div id="panel5Content" class="accordionTabContentBox" style="display:none">
                <br/>Now loading...
              </div>
            </div>

          </div>
          
        </div>

        <script type="text/javascript">
          setupAccord();
        </script>



        
        
        
        <div id="styleConfigs">
        <script type="text/javascript">
          if(!document.all) document.write('<button id="naviConfig">fix navi</button>');
        </script>
          &nbsp;
          <button id="tableConfig">fix table</button>
          
        </div>
        
        <script type="text/javascript">
          Event.observe('tableConfig', 'click', function(e){
            var elem = Event.element(e);
            var fun = elem.on ?(elem.on=null, elem.childNodes[0].data = 'fix table', Element.removeClassName):(elem.on=true, elem.childNodes[0].data = 'unfix table', Element.addClassName);
            var c = $('listContainer');
            var h = 'auto';
            if(!document.all) { //Mozilla
              if(elem.on) h = window.innerHeight - 250 + 'px';
              fun(c, 'scrollable');
              $A(c.getElementsByTagName('tbody')).each( function(v){v.style.height = h;});
            } else { //IE
              //if(elem.on) h = document.body.clientHeight - 250 +'px';
              fun(c, 'scrollable_ie');
              //$A(document.getElementsByClassName('tab_item', c)).each( function(v){v.style.height = h;});
            }
          }, false);
          if(!document.all) {
            Event.observe('naviConfig', 'click', function(e){ 
              var elem = Event.element(e); 
              if(!elem.on){ $('navi').className = 'fixed_navi'; elem.on = true; elem.childNodes[0].data = 'unfix navi' }else{ $('navi').className = 'float_navi'; elem.on = false; elem.childNodes[0].data = 'fix navi' }}, false);
          }
        </script>
      

        <!--
        <div id="how" class="how">
          <h4>Usage</h4>
          <ul>
            <li>Select artist to view artists songs.</li>
            <li>Requested songs are in queued by priority.</li>
            <li>Prioritize song if multiple requests to same song.</li>
            <li>You can cancel your requests.</li>

          </ul>
        </div>
        

        <script type="text/javascript">
          Rico.Corner.round($('how'));
        </script>
        -->

        <p style="font-size:70%;text-align:left;">
          generated by <a href="http://nurugunyo.hp.infoseek.co.jp/foobar.html" class="external">foo_request_http</a>
        </p>

<!--
        <div style="font-size:80%;">
             Logging Panes:
             <ul>
                 <li><a href="javascript:logger.debuggingBookmarklet();">Pop</a></li>

                 <li><a href="javascript:void(createLoggingPane(true));">Inline</a>
             </ul>
         </div>
-->

      </div><!-- navi -->

      
      

      <div class="main">

        <!-- status -->
        <div id="status">

          <script type="text/javascript">
            ReqStatus.update('', false);
          </script>
        </div>
        
   
        <div id="fixed"><div id="fixedMessage"></div></div>
        
        <br style='font-size:0.1em;' /><!-- somehow IE need <br> tag .  -->
        
        
        <div id="listContainer">
        
          <div id="tab1">
            <div class="tab_title"><img style="vertical-align:-1px" src="/img/icon7.gif" alt="Request list" /> Request list</div>
            <!-- songlist -->

            <div id="requestListPlace" class="tab_item"></div>
          </div>
          <!-- songlist -->
          <!--
          <div id="tab2">
            <div class="tab_title">Song list</div>
            
            <div id="songList" class="tab_item"></div>
          </div>
          -->




        </div>
        
        
        <script type="text/javascript">
          tabList = new TabContainer('listContainer');
          //SongList.update('', false, true);
        </script>




      </div><!-- main -->

    </div><!-- body -->
    
  
  </body>
</html>