/*     元智大學廣電社 元智之音      */
/*http://140.138.5.224/     */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a {text-decoration:none;}
a:hover {color: #FF0000;}
a:active{color: #FF0000;}
.qq{
	font-size: 10pt ; 
		text-align:center;
	}

.le{
	float:left;
	display:inline;
	}
.ri{
	float:right;
	display:inline;
	}
#leftmenu {
  width: 200px;
  float: left;
  background:#0079B2;
}
#rightmain {
  margin-left: 200px;
    background: #fffff0;
}
.menutop{/*花花選單上面專用*/
	background-repeat:no-repeat;
	background-position:top;
	background-image:url(images/menutop.png);}
.menubotton{/*花花選單下面專用*/
	background-repeat:no-repeat;
	background-position:bottom;
	background-image:url(images/menudown.png);}	
.menutop p ,.menuabout p ,.menubotton p{/*讓左邊花花選單可以不會有間隔*/
  margin: 0;}  
  
/*     元智大學廣電社 元智之音      */
/*http://140.138.5.224/     */